@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;600;700&family=Roboto:wght@300;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Shrikhand&display=swap");
@font-face {
  font-family: "Allotrope";
  src: url("./fonts/Fontspring-DEMO-allotrope-heavy.otf");
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Poppins", sans-serif;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

span {
  display: inline;
}

::selection {
  background-color: #fbe19f;
  color: #655a3f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  text-underline-position: under;
  text-decoration-thickness: 8;
  color: #242424;
  position: relative;
  transition: all 300ms ease-in-out;
  font-weight: 200;
}

nav {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  height: 120px;
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  opacity: 0;

  z-index: 3;
  transition: all 300ms ease-in-out;
  background: #24242486;
  color: #f0ede7;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  animation: navAnimate 500ms;
  animation-delay: 300ms;
  animation-fill-mode: forwards;

  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(6.3px);
  -webkit-backdrop-filter: blur(6.3px); */
}

.logo__wrapper {
  text-align: center; /* Center the content horizontally */
}

.nav__links,
.social__links {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

#navBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.link__hover-effect:after {
  content: "";
  position: absolute;
  height: 3px;
  background-color: #f3efe9;
  border-radius: 50px;
  width: 0%;
  bottom: -3px;
  right: 0;
  transition: all 300ms ease;
}

.bio__img.show {
  transform: translateX(0);
  opacity: 1;
}

.link__hover-effect:hover:after {
  width: 100%;
  left: 0;
}

.social__links {
  display: flex;
  justify-content: flex-end;
}

.nav__link--anchor {
  margin: 0 12px;
  color: #242424;
  display: flex;
  align-items: center;

  font-weight: 600;
  cursor: pointer;
}

.nav__icon {
  margin-right: 0.5em;
  color: #f9f6ef;
}

.site__logo {
  width: 100%;
  max-width: 70px;
  margin: 0 16px;
  min-width: 70px;
  min-height: 70px;
  z-index: 5;
}

.small {
  position: absolute;
  top: 0px;
  width: 80px;
  height: 80px;
  padding: 0.5em;
}

.dots__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: brightness(70%);
  position: absolute;
  z-index: 0;
}

.fa-spinner {
  font-size: 80px;
  animation: spinner 1000ms infinite;
  z-index: -1;
}

@keyframes spinner {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* SUBNAV BAR */
.nav__sub--links {
  display: flex;
  visibility: hidden;
  line-height: 2;

  position: absolute;
  flex-direction: column;
  top: 30px;
  left: 50px;
  padding: 0 16px;
  max-width: 300px;
  width: 100%;
  z-index: 1;
  text-align: left;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  white-space: nowrap;
  transform: translateX(-50px);
  background-color: #f9f6ef;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 500ms ease-in-out;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

@keyframes navAnimate {
  0% {
    transform: translate(-50%, -100px);
    opacity: 0;
  }

  100% {
    transform: translate(-50%, 0px);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    transform: translateY(400px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.nav__link--anchor {
  margin: 0 12px;
  color: #f3efe9;
  font-weight: 700;
  cursor: pointer;
}

.nav__links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  opacity: 1;
}

.nav__link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration-style: none;
  position: relative;

  padding: 0 8px;
}

.social__link:hover a {
  opacity: 0.5;
}

/* LANDING SECTION */
#cover {
  height: 130vh;

  transition: all 300ms ease-in-out;
}

#landing {
  z-index: 1;

  background: #f9f6ef;
  position: relative;
  height: fit-content;
  padding: 5em 0;
}
.container {
  max-width: 800px;
  margin: 20px auto;
}

.bento-box {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
}

.bento-box .placeholder {
  background-color: #ccc;
  flex: 1;
  max-height: 150px; /* Adjust the max-height as needed */
  padding-top: 75%; /* 4:3 aspect ratio, adjust as needed */
  position: relative;
  box-sizing: border-box; /* Include padding and borders in height calculation */
}

.bento-box .small {
  flex: 0 0 48%; /* Adjust the size as needed */
  max-height: 200px; /* Adjust the max-height as needed */
  padding-top: 50%; /* Adjust the aspect ratio as needed */
}

.bento-box .large {
  flex: 0 0 100%; /* Adjust the size as needed */
  max-height: 300px; /* Adjust the max-height as needed */
  padding-top: 30%; /* Adjust the aspect ratio as needed */
}
@keyframes tile {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(100%);
  }
}

#left-text,
#right-text {
  transition: all 600ms ease-in-out;
}

.landing__background {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url(./assets/cover-photo-min.jpg);
  background-size: cover;
  z-index: -1;
  filter: brightness(100%) blur(10px);
}

.landing__h1 {
  color: #f9f6ef;
  font-family: "Allotrope", sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  padding-left: 2em;
  transform: translate(-50%, -50%);
  width: 100%;
  font-size: 7em;
  z-index: 2;
  text-align: left;
}

.right {
  float: right;
  text-align: right;
  font-family: "Allotrope", sans-serif;
  margin-top: 1em;
  padding-right: 2em;
}

.cover__img {
  object-fit: cover;
  height: fit-content;
  width: 100vw;
}

/* CTA SECTION */

#cta {
  background-color: #f9f6ef;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0em;
  position: relative;

  width: 100%;
}

.cta__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: fit-content;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.cta__img {
  position: relative;
  margin: 0 auto;
  max-height: 40vh;
  padding: 8px;
  border: 2px solid #655a3f;
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  opacity: 0;
  z-index: 2;
  animation: fade-in 800ms;
  animation-delay: 800ms;
  animation-fill-mode: forwards;
}

.cta__header {
  font-size: 5em;
  color: #fbe19f;
  margin: 0 auto;
  padding: 0em 0em;
  line-height: 1.5;
}

.cta__sub--header {
  font-size: 2em;
  font-family: "Josefin Sans", sans-serif;
}

.cta__btn {
  position: relative;
  overflow: hidden;
  padding: 5px 20px;
  margin: 2em;
  color: #f9f6ef;
  background-color: #655a3f;
  border: 2px solid #655a3f;
  cursor: pointer;
  font-size: 1.25em;
  border-radius: 10px;
  z-index: 2;
  opacity: 0;
  animation: fade-in 800ms;
  animation-delay: 1200ms;
  animation-fill-mode: forwards;
}

.cta__btn:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f9f6ef;

  transition: top 0.3s ease;
}

.cta__btn a {
  font-size: 1.25em;
  font-weight: 700;
  min-width: 250px;
  color: #f9f6ef;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.cta__btn:hover:before {
  top: 0;
}

.cta__btn:hover a {
  color: #655a3f;
}

/* UPCOMING DATES SECTION */

#upcoming-shows {
  height: fit-content;
  background: #f9f6ef;
  position: relative;
  padding: 5em 0em;
}
.wrapper {
  max-width: 100%;
  overflow: hidden;
}

.marquee {
  height: 5em;
  margin: 1em 0;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  text-align: center;
  animation: marquee 30s linear infinite;
}

.marquee p {
  display: inline-block;
  line-height: 1.25em;
  font-size: 4em;
  color: #f9f6ef;
  font-weight: 800;
}

.contrast {
  border: 2px solid #655a3f;
}

@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}

.dates {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  height: 100%;
}

.date {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fff5d9;
  min-height: 100px;
  border-radius: 50px;
  box-shadow: 0 10px 0px -2px #655a3f;
  transition: all 300ms ease-in-out;
  margin: 4em 0em;
}

.date:hover {
  background-color: #655a3f;
  box-shadow: 0 10px 0px -2px #fff5d9;
  transform: translateY(5px);
}

.date:hover h1,
.date:hover h2,
.date:hover p {
  color: #fff5d9;
}

.date__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1em;
  height: 100%;
  max-width: 300px;
  text-align: center;
  position: relative;
}

.date__header {
  color: #655a3f;
  font-size: 2.5em;
  margin: 1.5em 0 0.5em 0em;
}

.date__sub-header {
  color: #655a3f;
  font-size: 1.25em;
  font-weight: 500;
  margin: 0.5em 0em;
}

.date__p {
  color: #655a3f;
  margin: 0.5em 0em;
}

.date__date {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff5d9;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  background: #d66565;
  height: 100%;
  width: 100%;
  max-height: 125px;
  max-width: 125px;
  border-radius: 50px;
}

.date__date h1 {
  font-size: 2em;
}

.date__date h2 {
  font-size: 1.5em;
  color: #fff5d9;
}

#music-video {
  padding: 5em 0em;
  background-color: #f9f6ef;
}

.youtube__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.control button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  border: none;
  transition: all 300ms ease-in-out;
}

.control:active {
  filter: invert();
}

.controls__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
}

.control {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  box-shadow: 1px 5px 0px #24242431;
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 15px;
  margin: 1em 0em;
}

.copied {
  position: absolute;
  transform: translateX(120px);
  color: #000;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  padding: 1em;
  border-radius: 15px;
  display: none;
  transition: all 300ms ease-in-out;
  width: 150px;
}

.video {
  border-radius: 15px;
  overflow: hidden;
  margin: 5em 2em;
}

.header__text {
  font-size: 1.25em;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-top: 2em;
  color: #242424;
  font-family: "Shrikhand", cursive;
}

/* INSTAGRAM SECTION */

#instagram {
  display: flex;
  flex-direction: row;
  background-color: #6f5c3e;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.spotify__background {
  position: absolute;
  object-fit: cover;
  z-index: 1;
  width: 100%;
  object-position: center 80%;
  filter: brightness(70%) blur(5px);
}

.follow__wrapper {
  padding: 5em 3em 5em 0em;
  margin: 0 auto;
}

#instagram h1,
h2 {
  font-size: 2em;
  color: #fbe19f;
  margin: 0.25em 0em;
}

#instagram h2 {
  font-size: 1.5em;
}

.instagram-post {
  width: calc(33.33% - 10px);
  margin: 5px;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.insta-post {
  margin-left: 20px;
  margin-top: 20px;
}

.es-header-user-username {
  font-weight: 800;
}

.es-header-user-full-name {
  font-weight: 800;
}

.instagram-feed {
  max-width: 1000px;
  margin: 0 auto;
  padding: 4em 0em;
}

.eapps-instagram-feed-header-follow-button-label {
  font-weight: 600;
}

.instagram-post img {
  max-width: 100%;
  height: auto;
}

.spotify__wrapper {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  z-index: 2;
}

.modal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 1100px;
  height: 700px;
  border-radius: 20px;
  overflow: hidden;
  display: flex;

  transition: visibility 1s, z-index 1s, box-shadow 0.5s ease;
}

.fa-spinner {
  font-size: 80px;
  animation: spinner 1000ms infinite;
}

textarea {
  resize: vertical;
  height: 100px;
  padding: 16px 0;
  margin-top: 6px;
}

.modal__half {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 40px 72px;
  transition: all 300ms ease-in;
}

.modal__title {
  font-size: 26px;
}

.modal__exit {
  position: absolute;
  top: 30px;
  right: 40px;
  color: white;
  font-size: 36px;
  z-index: 100;
}

.modal__sub-title {
  margin: 12px 0 24px 0;
  font-size: 14px;
}

.modal__para {
  margin-bottom: 12px;
  line-height: 1.75;
}

.modal__overlay {
  position: absolute;
  top: 13vh;
  left: 0;
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 300ms ease-in-out;
}

.modal__overlay--loading {
  background-color: white;

  z-index: -1;
}

.modal__overlay--success {
  background-color: #4bb543;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  padding: 28px;
  z-index: -1;
}

.modal__overlay--visible {
  z-index: 1;
  display: flex;
}

.click {
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.click:hover {
  transform: scale(1.1);
}

.click:active {
  transform: scale(0.8);
}

#mobileNav {
  display: none;
}

@media (max-width: 768px) {
  #navBar {
    display: none;
  }

  #mobileNav {
    position: fixed;
    top: 0;
    left: 50%;

    display: flex;
    justify-content: flex-start;
    padding: 1em;
    align-items: flex-start;
    height: 100%;
    width: 100vw;

    background: #242424c4;
  }

  .nav__links {
    visibility: hidden;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    opacity: 0;
    margin-top: 5em;
    transform: translateX(-100px);
    transition: all 300ms ease-in-out;
  }

  .open {
    display: flex;
    visibility: visible;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    opacity: 1;
    transform: translateX(0px);
    transition: all 300ms ease-in-out;
  }

  .close {
    display: flex;
    height: 10vh !important;
  }

  .nav__link--mobile {
    margin: 1em;
    font-size: 1.25em;
    width: 100%;
  }

  .social__links {
    margin-top: 5em;
  }

  .spotify__wrapper {
    display: flex;
    flex-direction: column;
  }

  .spotify__background {
    height: 100%;
    filter: brightness(50%) blur(0px);
  }

  .follow__wrapper {
    margin: 2em auto;
    padding: 0;
  }

  .video__controls {
    display: flex;
    flex-direction: row;
  }

  .control {
    margin: 1em;
  }

  .landing__h1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    font-size: 5em;
    top: 40%;
    width: 100%;
    left: 50%;
    height: 100%;
    padding: 1em;
    transform: translate(-50%, -50%);
  }

  #right-text {
    top: 70%;
    transform: translate(-50%, -50%);
  }

  @media (max-width: 468px) {
    .cta__btn {
      padding: 0.25em 0.5em;
    }
  }
}
